<!DOCTYPE html>
<html lang="es">

{{> head }}

<body>


    {{> navbar }}

    <div class="container">
        <br>
        <div class="contenedor-de-texto2">

            <div class="color2">
                <h1 class="display-4 fst-italic">Acerca de</h1>
            </div>

            <div class="color2">


                <h2>Esta pagina web fue desarrollada por David Vargas</h2>
                <ul>
                    <li class="color">0987725597</li>
                    <li class="color">david2060.ddgmail.com</li>
                </ul>

            </div>

        </div>
    </div>
</body>

{{> footer }}