


body{
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagenes img{
  width: 400px;
  height: 400px;
  margin: 40px;
  border-radius: 10px;
  float: left;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }

  .contenedor-de-texto{
    width: 98%;
    min-height: 560px;
    background: rgb(21, 21, 25);
    border-radius: 15px;
    margin: 5px;
    display: grid;
    

  }

  form {
    width: 1000px;
    margin: auto;
    background: rgb(21, 21, 25);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;

  }

  input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;

    box-sizing: border-box;
    font-size: 17px;
    border: none;

  }

  .texto textarea{
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
  .botons button{
    background: #31384A;
    color: #fff;
    padding: 20px;

  }

  .form-label{
    color: #fff;

  }

  .form-check-label{
    color: #fff;

  }

  
  .color{
    color: #fff;
    
  }
  .color2{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    color: #fff;
  }

  .contenedor-de-texto2{
    
    background: rgb(82, 82, 85);
    border-radius: 15px;
    text-align: center;
    
    

  }
  